version: "3.8"

services:
  signal-api:
    image: bbernhard/signal-cli-rest-api
    container_name: signal-api
    restart: always
    ports:
        - "9999:8080"
    volumes:
      - /home/erku/.conviva/signal-api:/home/.local/share/signal-cli
    environment:
      - MODE=json-rpc
    logging:
      driver: loki
      options:
        loki-url: "http://10.5.0.2:3100/loki/api/v1/push"
  conviva-bot:
    image: ghcr.io/erickubenka/conviva:main
    container_name: conviva-bot
    restart: always
    tty: true
    stdin_open: true
#    deploy:
#      resources:
#        limits:
#          memory: 4096M
    volumes:
      - /home/erku/.conviva/userdata:/root/.conviva/userdata
      - /home/erku/.conviva/conviva.properties:/app/conviva.properties
      - /home/erku/.conviva/tmp/img:/tmp/img
      - /etc/localtime:/etc/localtime:ro
      - /etc/timezone:/etc/timezone:ro
    logging:
      driver: loki
      options:
        loki-url: "http://10.5.0.2:3100/loki/api/v1/push"
    depends_on:
      - signal-api